.gLFyf {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0%;
    color: rgba(red, green, blue, alpha);
    word-wrap: break-word;
    outline: none;
    display: flex;
    margin-top: -37px;
}